.table_update{background-image: url(../../images/ygs/common/table_update.gif)!important;}
.table_delete{background-image: url(../../images/ygs/common/table_delete.gif)!important;}
.table_query{background-image: url(../../images/ygs/common/table_query.gif)!important;}
.table_sys{background-image: url(../../images/ygs/common/sys.png)!important;}
.table_role{background-image: url(../../images/ygs/common/role.png)!important;}
.table_resource{background-image: url(../../images/ygs/common/resource.png)!important;}
.table_refresh{background-image: url(../../images/ygs/common/refresh.png)!important;}
.table_org{background-image: url(../../images/ygs/common/org.png)!important;}
.table_home{background-image: url(../../images/ygs/common/home.png)!important;}
.table_dic{background-image: url(../../images/ygs/common/dic.png)!important;}
.table_delete{background-image: url(../../images/ygs/common/del.png)!important;}
.table_company{background-image: url(../../images/ygs/common/company.png)!important;}
.table_add{background-image: url(../../images/ygs/common/add.png)!important;}
.table_bzt{background-image: url(../../images/ygs/common/bzt.png)!important;}
.table_page{background-image: url(../../images/ygs/common/page.png)!important;}