<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
   	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="  
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
		">  
	
	<context:annotation-config />
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
				<value>classpath:mail.properties</value>
				<value>classpath:config.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="dataSourceProperties" class="com.yunguanshi.auth.Encrypt">  
        <property name="properties">  
            <props>  
                <prop key="user">${db.username}</prop>  
                <prop key="password">${db.password}</prop>  
            </props>  
        </property>  
    </bean>
	
	<!-- 数据库连接池c3p0配置 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="jdbcUrl" value="${db.url}"></property>
		<property name="properties" ref="dataSourceProperties"/>
		<property name="driverClass" value="${db.driver}"></property>
		<property name="maxPoolSize" value="40"></property>
		<property name="minPoolSize" value="10"></property>
		<property name="initialPoolSize" value="10"></property>
		<property name="maxIdleTime" value="60"></property>
		<property name="idleConnectionTestPeriod" value="360" /> 
  		<property name="preferredTestQuery" value="select 1" />   
		<property name="acquireIncrement" value="5" />   
		<property name="acquireRetryAttempts" value="50" />   
        <property name="acquireRetryDelay" value="1000" />   
        <property name="breakAfterAcquireFailure" value="true" />   
   		<property name="autoCommitOnClose" value="false" />   
        <property name="testConnectionOnCheckout" value="true" />      
        <property name="maxStatements" value="100" /> 
        <property name="maxStatementsPerConnection" value="5" />
	</bean>
	
	<!-- session工厂 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="configLocation" value="classpath:hibernate.cfg.xml"/>
		<property name="annotatedClasses">
	     <list>
	       <value>com.yunguanshi.model.rbac.Department</value>
	       <value>com.yunguanshi.model.rbac.Role</value>
	       <value>com.yunguanshi.model.rbac.Permission</value>
	       <value>com.yunguanshi.model.rbac.User</value>
	     </list>
	    </property>
		<!-- xml自动扫描方式配置的hibernate类文件  -->
		<property name="mappingLocations">
			<value>classpath:com/yunguanshi/model/*.hbm.xml</value>
		</property> 
	</bean>

	<!-- 事务管理器配置 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- 配置事务异常封装 -->
   <bean id="persistenceExceptionTranslationPostProcessor" 
       class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
	
	<!--  声明式容器事务管理 ,transaction-manager指定事务管理器为transactionManager -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="add*" propagation="REQUIRED" />
            <tx:method name="create*" propagation="REQUIRED" />
            <tx:method name="save*" propagation="REQUIRED" />
            <tx:method name="change*" propagation="REQUIRED" />
            <tx:method name="edit*" propagation="REQUIRED" />
            <tx:method name="update*" propagation="REQUIRED" />
            <tx:method name="delete*" propagation="REQUIRED" />
            <tx:method name="remove*" propagation="REQUIRED" />
            <tx:method name="merge*" propagation="REQUIRED" />
            <tx:method name="*" read-only="true" />
        </tx:attributes>
    </tx:advice>
    
    <aop:config expose-proxy="true" proxy-target-class="true">
        <!-- 只对业务逻辑层实施事务 -->
        <aop:pointcut id="txPointcut" expression="execution(* com.yunguanshi.service..*.*(..))" />
        <!-- Advisor定义，切入点和通知分别为txPointcut、txAdvice -->
        <aop:advisor pointcut-ref="txPointcut" advice-ref="txAdvice"/>
    </aop:config>
	
	<!-- 启动组件扫描，排除@Controller组件，该组件由SpringMVC配置文件扫描 -->
	<context:component-scan base-package="com.yunguanshi" >
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
</beans>